# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# Virtual env
.venv/
env/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Datos pesados / salidas
outputs/
mlruns/
inputs/*.mp4
inputs/*.avi
*.mp4
*.avi

# YOLO / pesos
*.pt
runs/
models/**/runs*/

# Streamlit & cache
.streamlit/
.cache/

# Docker
*.log
